<footer class="footer">
  <div class="footer__img">
    <img src="/images/footer-img.png" alt="">
  </div>

  <div class="footer__content">
    <div class="footer__text">
      <p class="footer__text--brand">Esto NO es una tienda</p>
      <p>Creada por Cristina Rodriguez Nogueiras</p>
      <p>@camisetadecolores</p>
    </div>

    <div class="footer__links">
      <nav class="footer__links--menu">
        <a class="footer-menu--link" href="/">Inicio</a>
        <a class="footer-menu--link is-active" href="/products">Tienda</a>
        <a class="footer-menu--link" href="/cart">Carrito</a>
        <a class="footer-menu--link" href="/admin">Admin</a>
      </nav>
    </div>
  </div>
</footer>