<header class="header">
  <button class="header__menu-btn js-menu-btn" aria-label="Abrir menú">
    <img src="/images/menu-green.png" alt="">
  </button>

  <a href="/" class="header__logo">
    <img src="/images/logo-pink.png" alt="Logo tienda">
  </a>

  <a href="/cart" class="header__cart" aria-label="Ir al carrito">
    <img src="/images/cart-green.png" alt="">
  </a>

  <nav class="mobile-menu js-mobile-menu">
    <a class="mobile-menu__link" href="/">Inicio</a>
    <div class="mobile-menu__item">
  <div class="mobile-menu__top-row">
    <a class="mobile-menu__link" href="/products">Tienda</a>

    <button class="mobile-menu__link js-shop-toggle" type="button">
      +
    </button>
  </div>

  <div class="mobile-submenu js-shop-submenu">
    <a href="/products">Todos</a>
    <a href="/products?category=bienestar">Bienestar</a>
    <a href="/products?category=tecnología">Tecnología</a>
    <a href="/products?category=gadgets">Gadgets</a>
  </div>
</div>
    <a href="/cart">Carrito</a>

    <img
      class="mobile-menu__divider"
      src="/images/line-blue.png"
      alt=""
    >

    <a href="/admin">Admin</a>
  </nav>
</header>