<header class="hero">
  <div class="hero__content">
      <h3 class="hero__text1">Esto</h3>
      <div class="hero__text--second-line">
        <h3 class="hero__text2">no</h3>
        <h3 class="hero__text3">es una</h3>
      </div>
      <div class="her__text--third-line">
        <img src="/images/tachado-hero.png">
        <h1 class="hero__text4">tienda</h1>
      </div>
        <p class="hero__text5">Es algo muuucho mejor</p>
    </div>
  <div class="hero__button">
      <a href="#previous">
    <img src="/images/flecha-azul.png" alt="Ir a productos">
  </a>

  </div>

</header>