<section class="previous" id="previous">
  <article class="previous__card previous__card--intro">
    <h2 class="previous__title">Esto NO es una tienda</h2>
    <p class="previous__text">
      Piensa en una tienda, ¿qué te viene a la cabeza? Pues bien, no encontrarás nada de eso aquí, porque esto NO es una tienda
    </p>
    <img src="/images/tachado-hero.png">
  </article>

  <a class="previous__card previous__card--shop" href="/products">
    <h2 class="previous__title--2">Tienda</h2>
  </a>

  <a class="previous__card previous__card--cart" href="/cart">
    <h2 class="previous__title--3">Carrito</h2>
  </a>

  <a class="previous__card previous__card--admin" href="/admin">
    <h2 class="previous__title--4">Admin</h2>
  </a>
</section>